.project-container {
  flex-direction: column;
  align-items: flex-start;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: 33%;
  padding: $spacing-xl;
  border-top: solid 1px $secondary-color-light;
  border-right: solid 1px $secondary-color-light;
  transition: background 0.3s ease;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: $secondary-color-dark;
  }

  @media (min-width: $screen-lg-min) { 
    &:nth-child(-n+3) {
      border-top: none;
    }

    &:nth-child(3n){
      border-right: none;
    }
  }

  @include breakpoint(lg) {
    width: 50%;

    &:nth-child(-n+2) {
      border-top: none;
    }

    &:nth-child(2n) {
      border-right: none;
    }
  }

  @include breakpoint(sm) {
    width: 100%;
    padding: $spacing-lg $spacing-sm;
    border: none;
    border-bottom: solid 1px $secondary-color-light; 

    &:last-child { border: none }
  }
}

.project-item-tag {
  font-size: 14px;
  text-transform: uppercase;
  color: $primary-color;
}

.project-item-label {
  font-size: 22px;
  color: white;
  margin-bottom: $spacing-sm;
}

.project-item-content {
  color: $text-color;
}
