$primary-color: #E20846;
$secondary-color: #302B4E;
$secondary-color-light: #473F73;
$secondary-color-dark: #292543;
$text-color: #B2ADD2;

$red50: #ffebee !default;
$red100: #ffcdd2 !default;
$red200: #ef9a9a !default;
$red300: #e57373 !default;
$red400: #ef5350 !default;
$red500: #f44336 !default;
$red600: #e53935 !default;
$red700: #d32f2f !default;
$red800: #c62828 !default;
$red900: #b71c1c !default;

$screen-xs-min: 386px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
